@font-face
{
    font-family: 'Proxima-Nova-Regular';
    font-weight: normal;
    font-style: normal;

    src: url('../fonts/Proxima-Nova-Regular.eot');
    src: url('../fonts/Proxima-Nova-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Proxima-Nova-Regular.woff') format('woff'),
    url('../fonts/Proxima-Nova-Regular.ttf')  format('truetype'),
    url('../fonts/Proxima-Nova-Regular.svg#Proxima-Nova-Regular') format('svg');
}
@font-face
{
    font-family: 'Proxima-Nova-Bold';
    font-weight: normal;
    font-style: normal;

    src: url('../fonts/Proxima-Nova-Bold.eot');
    src: url('../fonts/Proxima-Nova-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Proxima-Nova-Bold.woff') format('woff'),
    url('../fonts/Proxima-Nova-Bold.ttf')  format('truetype'),
    url('../fonts/Proxima-Nova-Bold.svg#Proxima-Nova-Bold') format('svg');
}
